In [66]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity

In [67]:
dataset_Diretory="./Datasets/ml-100k"

# Genre
genre_df = pd.read_csv(f'{dataset_Diretory}/u.genre', sep='|', encoding='latin-1')
genre_df.head(50)

        unknown   0
0        Action   1
1     Adventure   2
2     Animation   3
3    Children's   4
4        Comedy   5
5         Crime   6
6   Documentary   7
7         Drama   8
8       Fantasy   9
9     Film-Noir  10
10       Horror  11
11      Musical  12
12      Mystery  13
13      Romance  14
14       Sci-Fi  15
15     Thriller  16
16          War  17
17      Western  18

In [68]:
# Movie
genre_columns = ["unknown"] + list(genre_df[genre_df.columns[0]].values)
movie_columns = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies_df = pd.read_csv(f'{dataset_Diretory}/u.item', sep='|', names=movie_columns+genre_columns,
                     encoding='latin-1')
# movies_df.drop(["video_release_date","release_date","imdb_url","release_date","movie_id","title"],axis=1,inplace=True)
# movies_df.head()

# # Cleaning timestamp from titles
# def clean_title(title):
#     return re.sub("[\(\[].*?[\)\]]", "",title)

# movies_df['title'] = movies_df['title'].apply(clean_title)
# movies_df['title'] = movies_df['title'].str.strip()

movies_df.head()

,movie_id,title,release_date,video_release_date,imdb_url,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [69]:
# Compute the cosine similarity matrix
# similarity = cosine_similarity(movies_df)
# print(similarity)

In [70]:
#Ratings
ratings_columns = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_df = pd.read_csv(f'{dataset_Diretory}/u.data', sep='\t', names=ratings_columns)
ratings_df.drop( "unix_timestamp", inplace = True, axis = 1 ) 
ratings_df.head(2)

   user_id  movie_id  rating
0      196       242       3
1      186       302       3

In [71]:
# Step 1: Merge the ratings and movies dataframes on 'movie_id'
merged_df = pd.merge(ratings_df, movies_df, on='movie_id')

# Step 2: Identify the genre columns (columns from index 5 onwards in movies_df)
genre_cols = movies_df.columns[5:]

# Multiply each genre column by the 'rating' to get weighted genres
merged_df[genre_cols] = merged_df[genre_cols].mul(merged_df['rating'], axis=0)

# Step 3: Group by 'user_id' and sum the genre columns
user_genre_scores = merged_df.groupby('user_id')[genre_cols].sum().reset_index()

# Resulting dataset
print(user_genre_scores.head())

   user_id  unknown  Action  Adventure  Animation  Children's  Comedy  Crime  \
0        1        4     250        123         40          55     316     86
1        2        0      38         13          4          12      61     34
2        3        0      39         14          0           0      31     30
3        4        0      31         14          0           0      20     19
4        5        4     176        107         53          71     246     35

   Documentary  Drama  Fantasy  Film-Noir  Horror  Musical  Mystery  Romance  \
0           24    420        7          5      45       38       18      173
1            0    134        3          9       6        3       14       66
2            5     64        0          5      12        4       35       17
3            5     27        0          0       4        5       20       13
4            0     72        5          5      71       40        9       44

   Sci-Fi  Thriller  War  Western
0     172       188   92       22
1      15        43   11        0
2      22        53   14        0
3      23        43    9        0
4     116        56   45        5

In [72]:
# # NORMALIZING USER DATA 

# # Identify genre columns (exclude 'user_id')
# genre_cols = user_genre_scores.columns.drop('user_id')

# # Calculate the maximum value for each user's row
# max_values = user_genre_scores[genre_cols].max(axis=1)

# # Normalize genre columns by dividing by the row's max value (handle zeros)
# user_genre_scores[genre_cols] = user_genre_scores[genre_cols].div(max_values, axis=0).fillna(0)

# # Display the normalized data
# print(user_genre_scores.head())

In [73]:
def get_unrated_movies(user_id, movies_df, ratings_df):
    # Get all unique movie IDs from the movies dataset
    all_movies = movies_df['movie_id'].unique()
    
    # Get movies rated by the specific user
    user_rated = ratings_df.loc[ratings_df['user_id'] == user_id, 'movie_id'].unique()
    
    # Find movies not rated by the user using set difference
    unrated_movies = np.setdiff1d(all_movies, user_rated)
    
    return unrated_movies

# Example: Get movies not rated by user_id = 1
unrated_movies = get_unrated_movies(user_id=1, movies_df=movies_df, ratings_df=ratings_df)
print("Unrated Movie IDs:", len(unrated_movies))

Unrated Movie IDs: 1410

In [74]:
mod_mov=movies_df.drop(["video_release_date","release_date","imdb_url","release_date","movie_id","title"],axis=1,inplace=False)
mov_matrix=mod_mov.values

mod_user=user_genre_scores.drop(["user_id"],axis=1,inplace=False)
user_matrix=mod_user.values

score = np.dot(mov_matrix[5], user_matrix[1])
score

134

In [88]:
# Calculate scores for all movies against user 1
scores = np.dot(mov_matrix, user_matrix[582])
helf_len=int(len(mov_matrix)/2)
# Get indices of top 10 scores in descending order
top_10_indices = np.argsort(scores)[-10:][::-1]

# Extract corresponding scores
top_scores = scores[top_10_indices]

# Get movie details with scores
top_10_movies = movies_df.iloc[top_10_indices].copy()
top_10_movies['prediction_score'] = top_scores  # Add scores column

# Print results with scores
print("Top 10 Recommended Movies with Scores:")
for idx, movie in top_10_movies.iterrows():
    print(f"\nScore: {movie['prediction_score']:.4f}")
    print(f"Movie ID: {movie['movie_id']}")
    print(f"Title: {movie['title']}")
    print(f"Release Date: {movie['release_date']}")
    print("Genres:", ", ".join([col for col in movies_df.columns[5:] if movie[col] == 1]))
    print(f"IMDB URL: {movie['imdb_url']}")
    print("-" * 60)

Top 10 Recommended Movies with Scores:

Score: 138.0000
Movie ID: 172
Title: Empire Strikes Back, The (1980)
Release Date: 01-Jan-1980
Genres: Action, Adventure, Drama, Romance, Sci-Fi, War
IMDB URL: http://us.imdb.com/M/title-exact?Empire%20Strikes%20Back,%20The%20(1980)
------------------------------------------------------------

Score: 134.0000
Movie ID: 55
Title: Professional, The (1994)
Release Date: 01-Jan-1994
Genres: Crime, Drama, Romance, Thriller
IMDB URL: http://us.imdb.com/Title?L%E9on+(1994)
------------------------------------------------------------

Score: 134.0000
Movie ID: 129
Title: Bound (1996)
Release Date: 04-Oct-1996
Genres: Crime, Drama, Romance, Thriller
IMDB URL: http://us.imdb.com/M/title-exact?Bound%20(1996)
------------------------------------------------------------

Score: 131.0000
Movie ID: 855
Title: Diva (1981)
Release Date: 01-Jan-1981
Genres: Action, Drama, Mystery, Romance, Thriller
IMDB URL: http://us.imdb.com/M/title-exact?Diva%20(1981)
------------------------------------------------------------

Score: 118.0000
Movie ID: 1526
Title: Witness (1985)
Release Date: 01-Jan-1985
Genres: Drama, Romance, Thriller
IMDB URL: http://us.imdb.com/M/title-exact?Witness+(1985)
------------------------------------------------------------

Score: 118.0000
Movie ID: 311
Title: Wings of the Dove, The (1997)
Release Date: 01-Jan-1997
Genres: Drama, Romance, Thriller
IMDB URL: http://us.imdb.com/M/title-exact?Wings+of+the+Dove%2C+The+(1997)
------------------------------------------------------------

Score: 115.0000
Movie ID: 337
Title: House of Yes, The (1997)
Release Date: 01-Jan-1997
Genres: Comedy, Drama, Thriller
IMDB URL: http://us.imdb.com/M/title-exact?House+of+Yes,+The+(1997)
------------------------------------------------------------

Score: 114.0000
Movie ID: 1100
Title: What Happened Was... (1994)
Release Date: 01-Jan-1994
Genres: Comedy, Drama, Romance
IMDB URL: http://us.imdb.com/M/title-exact?What%20Happened%20Was...%20(1994)
------------------------------------------------------------

Score: 114.0000
Movie ID: 1115
Title: Twelfth Night (1996)
Release Date: 25-Oct-1996
Genres: Comedy, Drama, Romance
IMDB URL: http://us.imdb.com/M/title-exact?Twelfth%20Night:%20Or%20What%20You%20Will%20(1996)
------------------------------------------------------------

Score: 114.0000
Movie ID: 692
Title: American President, The (1995)
Release Date: 01-Jan-1995
Genres: Comedy, Drama, Romance
IMDB URL: http://us.imdb.com/M/title-exact?American%20President,%20The%20(1995)
------------------------------------------------------------