### Import Necessary Packages

In [124]:
import numpy as np
import pandas as pd

#### Set dataset directory

In [125]:
dataset_Diretory="./Datasets/ml-100k"
dataset_with_credit="./Datasets"

### Get the Genres from the dataset

In [126]:
# Genres
genre_df = pd.read_csv(f'{dataset_Diretory}/u.genre', sep='|', encoding='latin-1')
genre_columns = ["unknown"] + list(genre_df[genre_df.columns[0]].values)
genre_df.head()

      unknown  0
0      Action  1
1   Adventure  2
2   Animation  3
3  Children's  4
4      Comedy  5

### Loading the Movies dataset

In [127]:
# Movie
movie_columns = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies_df = pd.read_csv(f'{dataset_with_credit}/movies_with_credits.csv', sep=',',
                     encoding='latin-1')
movie_columns = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
# movies_df = pd.read_csv(f'{dataset_Diretory}/u.item', sep='|', names=movie_columns+genre_columns,
#                      encoding='latin-1')

movies_df.head()

,movie_id,title,release_date,video_release_date,imdb_url,unknown,Action,Adventure,Animation,Children's,...,Aleksei Ananishnov,Gudrun Geyer,Asia Argento,Jonathan Rhys Meyers,Julie T. Wallace,Werner Herzog,Vittorio Mezzogiorno,Stefan Glowacz,Mathilda May,Gunilla Karlzen
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Loading ratings dataset

In [128]:
#Ratings
ratings_columns = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_df = pd.read_csv(f'{dataset_Diretory}/u.data', sep='\t', names=ratings_columns)
ratings_df.drop( "unix_timestamp", inplace = True, axis = 1 ) 
ratings_df.head(2)

   user_id  movie_id  rating
0      196       242       3
1      186       302       3

### Remove test data from ratings dataframe

In [129]:
# Group by user_id and take 2 random samples per user
test_ratings=ratings_df.groupby('user_id', group_keys=False).apply(lambda x: x.sample(n=2, random_state=42))

# Drop those sampled rows from the original dataframe
remaining_df = ratings_df.drop(test_ratings.index)

# Copy the dataframe into ratings_df
ratings_df=remaining_df.copy()

C:\Users\matur\AppData\Local\Temp\ipykernel_15068\1229437901.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  test_ratings=ratings_df.groupby('user_id', group_keys=False).apply(lambda x: x.sample(n=2, random_state=42))

### Making user profiles 
At this stage we are making the profiles to understand user's taste in movies.
In order to do that we are multiplying the movie features with the rating user has provided and 
summing up all the features for each user to get a score.

In [130]:
# Step 1: Merge the ratings and movies dataframes on 'movie_id'
merged_df = pd.merge(ratings_df, movies_df, on='movie_id')

# Step 2: Identify the genre & artists columns (columns from index 5 onwards in movies_df)
genre_and_artists_cols = movies_df.columns[5:]

# Multiply each genre column by the 'rating' to get weighted genres
merged_df[genre_and_artists_cols] = merged_df[genre_and_artists_cols].mul(merged_df['rating'], axis=0)

# Step 3: Group by 'user_id' and sum the genre columns
user_genre_scores = merged_df.groupby('user_id')[genre_and_artists_cols].sum().reset_index()

# Resulting dataset
user_genre_scores.head()

,user_id,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,...,Aleksei Ananishnov,Gudrun Geyer,Asia Argento,Jonathan Rhys Meyers,Julie T. Wallace,Werner Herzog,Vittorio Mezzogiorno,Stefan Glowacz,Mathilda May,Gunilla Karlzen
0,1,4,246,123,40,55,316,82,24,417,...,0,0,0,0,0,0,0,0,0,0
1,2,0,38,13,4,12,61,29,0,126,...,0,0,0,0,0,0,0,0,0,0
2,3,0,39,14,0,0,26,30,5,57,...,0,0,0,0,0,0,0,0,0,0
3,4,0,26,9,0,0,20,15,5,27,...,0,0,0,0,0,0,0,0,0,0
4,5,4,172,107,53,71,243,35,0,72,...,0,0,0,0,0,0,0,0,0,0

In [162]:
# normalize data 
from os import system
import warnings


def normalize_rows_vectorized(df: pd.DataFrame) -> pd.DataFrame:
    df_normalized = df.copy()
    numeric_cols = df_normalized.columns[1:]
    df_normalized[numeric_cols] = df_normalized[numeric_cols].apply(pd.to_numeric, errors='coerce').astype(float)

    # Normalize columns 1â€“19
    part1 = df_normalized.iloc[:, 1:20]
    max1 = part1.max(axis=1).replace(0, np.nan)
    df_normalized.iloc[:, 1:20] = part1.div(max1, axis=0)

    # Normalize columns 20â€“end
    part2 = df_normalized.iloc[:, 20:]
    if not part2.empty:
        max2 = part2.max(axis=1).replace(0, np.nan)
        df_normalized.iloc[:, 20:] = part2.div(max2, axis=0)

    return df_normalized

user_genre_scores = normalize_rows_vectorized(user_genre_scores)

In [166]:
user_genre_scores.to_csv("user_genre_scores",index=False)

In [167]:
def get_unrated_movies(user_id, movies_df, ratings_df):
    # Get all unique movie IDs from the movies dataset
    all_movies = movies_df['movie_id'].unique()
    
    # Get movies rated by the specific user
    user_rated = ratings_df.loc[ratings_df['user_id'] == user_id, 'movie_id'].unique()
    
    # Find movies not rated by the user using set difference
    unrated_movies = np.setdiff1d(all_movies, user_rated)
    
    return unrated_movies

# Example: Get movies not rated by user_id = 1
unrated_movies = get_unrated_movies(user_id=1, movies_df=movies_df, ratings_df=ratings_df)
print("Rated Movies:",len(movies_df)-len(unrated_movies))
print("Unrated Movies:", len(unrated_movies))

Rated Movies: 270
Unrated Movies: 1412

In [168]:
mod_mov=movies_df.drop(["video_release_date","release_date","imdb_url","release_date","movie_id","title"],axis=1,inplace=False)
mov_matrix=mod_mov.values

mod_user=user_genre_scores.drop(["user_id"],axis=1,inplace=False)
user_matrix=mod_user.values

score = np.dot(mov_matrix[5], user_matrix[1])
score

1.0

### Testing to come up with top 10 recommendation for a specific user

In [169]:
# Calculate scores for all movies against user 1
scores = np.dot(mov_matrix, user_matrix[1])
helf_len=int(len(mov_matrix)/2)
# Get indices of top 10 scores in descending order
top_10_indices = np.argsort(scores)[-10:][::-1]

# Extract corresponding scores
top_scores = scores[top_10_indices]

# Get movie details with scores
top_10_movies = movies_df.iloc[top_10_indices].copy()
top_10_movies['prediction_score'] = top_scores  # Add scores column

# Print results with scores
print("Top 10 Recommended Movies with Scores:")
for idx, movie in top_10_movies.iterrows():
    print(f"\nScore: {movie['prediction_score']:.4f}")
    print(f"Movie ID: {movie['movie_id']}")
    print(f"Title: {movie['title']}")
    print(f"Release Date: {movie['release_date']}")
    print("Genres:", ", ".join([col for col in movies_df.columns[5:] if movie[col] == 1]))
    print(f"IMDB URL: {movie['imdb_url']}")
    print("-" * 60)

Top 10 Recommended Movies with Scores:

Score: 4.3442
Movie ID: 127
Title: Godfather, The (1972)
Release Date: 01-Jan-1972
Genres: Action, Crime, Drama, Al Pacino, Robert Duvall, Francis Ford Coppola, Marlon Brando, James Caan, Richard S. Castellano
IMDB URL: http://us.imdb.com/M/title-exact?Godfather,%20The%20(1972)
------------------------------------------------------------

Score: 4.1766
Movie ID: 313
Title: Titanic (1997)
Release Date: 01-Jan-1997
Genres: Action, Drama, Romance, Kathy Bates, Leonardo DiCaprio, James Cameron, Kate Winslet, Billy Zane, Frances Fisher
IMDB URL: http://us.imdb.com/M/title-exact?imdb-title-120338
------------------------------------------------------------

Score: 4.1250
Movie ID: 275
Title: Sense and Sensibility (1995)
Release Date: 01-Jan-1995
Genres: Drama, Romance, James Fleet, Emma Thompson, Tom Wilkinson, Kate Winslet, Ang Lee, Harriet Walter
IMDB URL: http://us.imdb.com/M/title-exact?Sense%20and%20Sensibility%20(1995)
------------------------------------------------------------

Score: 4.0317
Movie ID: 187
Title: Godfather: Part II, The (1974)
Release Date: 01-Jan-1974
Genres: Action, Crime, Drama, Al Pacino, Robert Duvall, Francis Ford Coppola, Diane Keaton, Robert De Niro, John Cazale
IMDB URL: http://us.imdb.com/M/title-exact?Godfather:%20Part%20II,%20The%20(1974)
------------------------------------------------------------

Score: 4.0000
Movie ID: 303
Title: Ulee's Gold (1997)
Release Date: 01-Jan-1997
Genres: Drama, Peter Fonda, Victor Nunez, Patricia Richardson, Christine Dunford, Tom Wood, Jessica Biel
IMDB URL: http://us.imdb.com/M/title-exact?Ulee%27s+Gold+(1997)
------------------------------------------------------------

Score: 4.0000
Movie ID: 297
Title: Ulee's Gold (1997)
Release Date: 01-Jan-1997
Genres: Drama, Peter Fonda, Victor Nunez, Patricia Richardson, Christine Dunford, Tom Wood, Jessica Biel
IMDB URL: http://us.imdb.com/M/title-exact?Ulee%27s+Gold+(1997)
------------------------------------------------------------

Score: 3.7004
Movie ID: 312
Title: Midnight in the Garden of Good and Evil (1997)
Release Date: 01-Jan-1997
Genres: Comedy, Crime, Drama, Mystery, Kevin Spacey, Clint Eastwood, John Cusack, Jack Thompson, Irma P. Hall, Jude Law
IMDB URL: http://us.imdb.com/M/title-exact?Midnight+in+the+Garden+of+Good+and+Evil+(1997)
------------------------------------------------------------

Score: 3.6766
Movie ID: 311
Title: Wings of the Dove, The (1997)
Release Date: 01-Jan-1997
Genres: Drama, Romance, Thriller, Helena Bonham Carter, Iain Softley, Linus Roache, Alex Jennings, Charlotte Rampling, Ben Miles
IMDB URL: http://us.imdb.com/M/title-exact?Wings+of+the+Dove%2C+The+(1997)
------------------------------------------------------------

Score: 3.6091
Movie ID: 316
Title: As Good As It Gets (1997)
Release Date: 23-Dec-1997
Genres: Comedy, Drama, Cuba Gooding Jr., Helen Hunt, Jack Nicholson, James L. Brooks, Greg Kinnear, Skeet Ulrich
IMDB URL: http://us.imdb.com/Title?As+Good+As+It+Gets+(1997)
------------------------------------------------------------

Score: 3.5208
Movie ID: 273
Title: Heat (1995)
Release Date: 01-Jan-1995
Genres: Action, Crime, Thriller, Val Kilmer, Tom Sizemore, Al Pacino, Robert De Niro, Michael Mann, Jon Voight
IMDB URL: http://us.imdb.com/M/title-exact?Heat%20(1995)
------------------------------------------------------------

### Test for accurcy

In [177]:
total_test_cases=len(test_ratings)
hit=0
print(total_test_cases)
for index, row in test_ratings.iterrows():
    user_id=row['user_id']
    movie_id=row['movie_id']
    movie=movies_df[movies_df['movie_id'] == movie_id].iloc[0]
    movie_name=movie['title']
    user_rating_for_movie=row['rating']
    user_average_rating=round(ratings_df[ratings_df['user_id'] == user_id]['rating'].mean(),3)
    score_for_movie=np.dot(mov_matrix[movie_id-1], user_matrix[user_id-1])
    all_scores_for_user=np.dot(mov_matrix, user_matrix[user_id-1])
    average_score_for_user=np.mean(all_scores_for_user)
    user_has_rated="Below Average"
    score_has_been_given="Below Average"
    if user_rating_for_movie>(user_average_rating-user_average_rating*0.10):
        user_has_rated="Above Average"
    if score_for_movie>(average_score_for_user-average_score_for_user*0.10):
        score_has_been_given="Above Average"
    if user_has_rated==score_has_been_given:
        hit=hit+1
    # print(f"user id : {user_id} \n movie_name: {movie_name} \n user has rated :{user_rating_for_movie} \n user's average rating :{user_average_rating} \n system score for movie :{score_for_movie} \n average score for user :{average_score_for_user} \n user_rated : {user_has_rated} \n score_given : {score_has_been_given}")
average_accuracy=round((hit/total_test_cases)*100,2)
print(f"Average accuracy is : {average_accuracy} % ")

1886
Average accuracy is : 61.4 %